    * {
      margin:0;
      padding:0;
    }
    a:link {
      color:#00B5FF;
      text-decoration:none;
    }
    a:hover {
      color:white;  
    }
/* SIDEBAR STUFF */
    #banner {
      position:relative;
      padding-top:8%;
      position:relative;
      overflow:hidden;
    }

    #backimg {
      position:absolute;
      background-image:url("circuit_banner.jpg");
      background-size:100%;
   
      background-position: 0 0 0 0 ;
      height:55%;
      width:130%;
      
      border-style:solid;
      border-color:#00B5FF;
      text-align:right;
      transform: rotate(-10deg) translateX(-7%) translateY(15%);
    }
    #pic {
      position:relative;
      display:block;
      top:3%;
      margin-left: auto;
      margin-top:0%;  
      margin-right:auto;
      width: 63%;
      border-radius: 50%;
      border-color: #00B5FF;
      border-width:4px;
      border-style:solid;
    }
    #title {
      width:100%;
      text-align:center;
      color:white;
    }
    #aboutme {

    }
    #sidebar {
      position:fixed; 
      left:0;
      float: left;
      margin-left: 0px;
      margin-top: 0px;
      width:17%;
      height:104%;
      border-color: #00B5FF;
      border-width:3px;
      border-left-width:0px;
      border-top-width:0px;
      border-style:solid;
      background-color:#182C5B;
      z-index:1;
      /*#182C4B*/
    }
    
    #sidebar p {
      margin-left:20px;
      margin-right:20px;
      color:white;
      /*font-weight:bold;*/
      /*font-family: "Consolas";*/
    }
    
/* BODY STUFF */
     th, td {
      text-vertical-align:top;
      border: 1px solid black;
      border-collapse: separate ;
      border-width:3;
      border-style:inset;
      border-color:#00B5FF;
    }
    table {
      margin-left:15%;
      margin-right:auto;
    }
    table * {
      background-color:white;
    }
    
    #container {
      padding-left:17.5%;
    }
    #content {
      padding-top:1%;

    }

    .iconlink {
      background-color:transparent;
      position:relative;
      top:-18px;
      height:24px;
      margin:0px;
      overflow:hidden;
    }
    .iconlink:hover {
      height:22px;
      margin:1px;
      border-style:inset;
      border-width:2px;
      border-style:hidden;
      border-color:#00B5FF;
      background-color:#AAAAAA;
      border-radius:75%;
      cursor:pointer;
    }
    .projTitle {
      height:24px;
      width:100%;
      vertical-align:middle;
      padding:5px;
      color:white;
      background-color:#182C5B;
      border-width:3;
      border-style:solid;
      border-color:#00B5FF;
    }
    .projTitle p {
      background-color:182C5B;
      text-align:center;
      font-weight:bold;
    }
    .projTitle div {
      float:right;
    }
    .project {
      width:50%;
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
    .projDesc {
      padding:1%;
      width:100%;
      height:200px;
      text-align: justify;
    }
    .projDesc p {
      float:left;
      width:45%;
      padding:5px;
    }
    .projBigPrev img {
      border-style:inset;
      border-width:2px;
      width:100%;
    }
    .projPrev {
      float:right;
      width:45%;
    }